body{
    font-family: 'Roboto Slab', serif;
    margin: 0;
    box-sizing: border-box;
    background: white;
}
.first-part{
    position: 100%;
    text-align: center;
    width: 100%;
    margin-bottom: 60px;
}
.middle{
    width: 50%;
    font-size: 45px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(32, 185, 18);
    font-weight: 700;
    text-shadow: 50px gray ;
    text-align: center;
}
.font{
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-bottom: 50px;
}
.donate{
    color: white;
    width: 60px;
    height: 250px;
    background-image:linear-gradient(rgb(113, 218, 113),rgb(11, 131, 11));
    padding: 10px 40px;
    border-radius: 5px;
    text-decoration: none;
}
.Second-part{
    font-size: 700;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
}
.container{
    display: flex;
    margin-bottom: 70px;
}
#amount{
    text-align: center;
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 20px;
    padding-right: 30px;
    border-radius: 15px;
    box-shadow: 10px 10px 30px gray;
    border: 10px solid 5px red;
}
.border{
    border: 4px solid red;
}
.middle2{
    text-align: center;
    margin-bottom: 15px;;
}
.line{
    width: 900px;
    height: 2px;
    background-color: rgb(24, 190, 60);
    display: inline-block;
}
.middle3{
    width: 50%;
    font-size: 40px;
    position: relative;
    padding-left: 25%;
    text-align: center;
    margin-bottom: 100px;
}
.donate2{
    color: white;
    width: 60px;
    height: 250px;
    background-image:linear-gradient(rgb(113, 218, 113),rgb(11, 131, 11));
    padding: 10px 40px;
    border-radius: 5px;
    text-decoration: none;   
}
#box1{
    width: 40%;
    margin-left: 2%;
    margin-right: 2%;
    box-shadow: 10px 10px 40px gray;
    padding-left: 20px;
    padding-right: 10px;
    background-color: rgb(130, 226, 229);
    padding-top: 2%;
}

#box2{
    width: 40%;
    margin-left: 2%;
    margin-right: 2%;
    box-shadow: 10px 10px 40px gray;
    padding-left: 20px;
    padding-right: 10px;
    background-color: rgb(137, 167, 231);
    padding-top: 2%;
}
#box3{
    width: 40%;
    margin-left: 2%;
    margin-right: 2%;
    box-shadow: 10px 10px 40px gray;
    padding-left: 20px;
    padding-right: 10px;
    background-color: rgb(231, 137, 208);
    padding-top: 2%;
}
.top-banner{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.half-width{
    width: 50%;
    padding-left: 7%;
    padding-right: 6%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.half-width img{
    width: 120%;
}
.font-middle{
    font-size: 15px;
    color: rgb(116, 91, 91);
    margin-bottom: 50px;
}
.box-add{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
.form-box{
    padding: 10px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px rgb(209, 199, 199), -5px -5px 10px rgb(212, 199, 199);
}
.form-box input{
    font-size: 15px;
    color: rgb(12, 12, 12);
    padding: 5px 10px;
    border: none;
    outline: none;
    background: rgb(253, 253, 253);
}
.form-box button{
    color: rgb(253, 253, 253);
    padding: 5px 15px;
    font-size: 15px;
    border: none;
    background: rgb(201, 20, 20);
    cursor: pointer;
    transform: .3s;
}
.form-box button:hover{
    background: rgb(182, 69, 69);
}
#box4{
    
    width: 30%;
    margin-left: 35%;
    margin-right: 40%;
    box-shadow: 10px 10px 20px rgb(219, 196, 196);
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(209, 230, 118);
    margin-bottom: 50px;
}
.footer-fream{
    background-color: rgb(5, 5, 5);
    width: 100%;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 25px;
}
.text{
    color: white;
}
.color{
    color: aqua;
}